

/*font-family: 'Dosis', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Indie Flower', cursive;*/


/*************** BASIC *******************************/
article, aside, details, figcaption, figure, footer, header,
main, nav, section { display: block; }

*{
    box-sizing: border-box;
}

aside, div, section, header, footer, nav {
    display: block;
}


body, p {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: 'Indie Flower', cursive;
}

a{
    text-decoration: none;
    color: crimson;
    /*cursor: default;*/
}

body{
    background-image: url("../images/bricks2.png");
    background-position: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content_block {
    background-color:rgba(255,255,255,0.7);
    border: 2px solid grey;
    margin: 10px;
}



/************************** BUTTONS et INPUTS ***********************/

input {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.input {
    font-family: 'Raleway', sans-serif;
    width: 90%;
    border-radius: 5px;
    padding: 10px;
}

.button {
    border-radius: 5px;
    border: 1px solid brown;
    box-shadow: 2px 2px 2px crimson;
    width: 50%;
    font-family: 'Indie Flower', cursive;
    color: crimson;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}


/************ HEADER & MENU NAVIGATION *******************/
nav img {
    width: 10%;
    padding: 3px 5px 0 ;
}

nav h1{
    font-family: 'Indie Flower', cursive;
}

nav li:first-of-type {
    padding: 0;
    border-top: 1px solid grey;
}

nav li:first-of-type:hover {
    background-color:rgba(255,255,255,0.7);
}

nav li{
    text-align: center;
    border-bottom: 2px solid grey;
    background-color:rgba(255,255,255,0.7);
    padding: 3px 0 3px 0;
    font-size: 120%;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

nav li a{
    display: block;
}

nav li a:hover {
   /* background-color: rgba(206, 255, 5, 0.4);*/
    color: #cfff04;
    text-shadow: 1px 1px 1px red;
}
nav h1{
    font-size: 110%;
    margin: 0;
    display: inline;
    color: black;
}

#button_connexion {
background-color: brown;
    color: #cfff04;
   border: 2px solid #cfff04;
    box-shadow: none;
    border-radius: 10px;

}

/************************INDEX*********************************/
/*****ENG / FR   ***/
.lang{
    display: inline-block;
    font-weight: bold;
    font-size: 130%;
}

.lang a{
    color: white;
    text-shadow: 2px 2px 2px crimson;
    display: block;
}


.lang a:hover{
    color: #cfff04;
}

.lang:first-of-type{
    position: absolute;
    top: 10px;
    left: 20px;
}

.lang:last-of-type{
    text-align: right;
    position: absolute;
    top: 10px;
    right: 20px;
}
/**********************************************************/

/************************* TABLES ******************************/
.table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px;
    font-size: 90%;
}

.table td, .table th{
    border: 1px solid black;
}

.menu td{
    text-transform: lowercase;
    padding: 10px;
}

#menu_3_semaines h2{
    color: red;
    font-family: 'Indie Flower', cursive;
   text-align: center;
}

.menu caption{
    font-family: 'Indie Flower', cursive;
    padding: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 150%;
}

#table_users{
    width: 100%;
    margin: 0 auto;
}

#table_users td, #table_users th{
 font-size: 80%;
}

/************************ ADMIN *************************/
#pdf_upload {
    margin: 50px 0 50px 0;
}


/**************** MENU & ACTIVITÉ section****************************/
.du_jour h3{
   color: crimson;
}

.du_jour {
    padding: 10px;
}

.du_jour .button{
    display: block;
    text-align: center;
    background-color: #cfff04;
   margin: 0 auto;
    width: 70%;
    padding: 10px;
}

#repas li{
    text-transform: lowercase;
    text-align: center;
    padding-bottom: 3px;
}

#repas li:nth-of-type(odd){
    font-weight: bold;
    font-size: 75%;
}

#repas li:nth-of-type(even){
    padding-bottom: 20px;
    font-style: italic;
}

#news p:first-of-type{
    display: inline;
    font-style: italic;
    padding-left: 10px;
}

#news h3{
    display: inline;
    padding-left: 20px;
}

#news p:last-of-type{
    padding: 10px;
}

#phylosophy {
    padding: 20px;
}

#phylosophy h3{
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
    text-align: center;
}

#phylosophy span {
    font-size: 120%;
    color: darkblue;
    display: block;
}

#phylosophy p{
    font-family: 'Indie Flower', cursive;
    font-size: 120%;
    font-weight: bold;
    color: crimson;
}

/********* DÉBUT PAGE ÉQUIPE *********/
#equipe .content_block img{
      width: 90%;
    margin: 0 5% 0 5%;
    border: 1px solid black;
    /*bordure arrondie*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius: 5px;
   /* ombre portée*/
    -moz-box-shadow: 4px 4px 4px #888888;
    -webkit-box-shadow: 4px 4px 4px #888888;
    box-shadow: 4px 4px 4px #888888;
}

#equipe article{
    margin-top: 5%;
    border: 1px solid brown;
}

#equipe h2{
margin-bottom: 10px;
text-align: center;
    font-family: 'Indie Flower', cursive;
    color: crimson;
}

#equipe article p{
    line-height: 28px;
}
#equipe article p:first-of-type{
    margin-top: 20px;
}

/********* FIN PAGE ÉQUIPE *********/




/******************** FOOTER *********************/
footer {
    margin-top: 20px;
    text-align: center;
    color: crimson;
}

footer form {
    margin-top: 20px  ;
}

footer p {
    padding-top: 20px;
}


/********************** MEDIA QUERIES *********************/

/*************TABLETTE**************/
@media screen and (min-width: 768px){
        nav {
        margin: 0 auto;
        text-align: center;
    }

    nav li {
        display: inline-block;
        text-align: center;
        height: 90px;
        vertical-align: middle;
        border-left: 1px solid grey;
        width: 110px;
        font-size: 100%;
    }

    nav li:first-of-type {
        padding: 0;
        width: 170px;
        border: none;
        border-bottom: 2px solid grey;
       border-left: 1px solid grey;
        vertical-align: top;


    }

    nav li:last-of-type{
        border-right: 1px solid grey;;
    }


    nav li a{
        font-weight: bold;
        display: block;
        height: 100%;
        padding-top: 30px;
    }

    nav li:first-of-type a{
        padding: 0;
    }

nav h1{
    display: block;
    font-size: 110%;

}

    nav img {
        width: 70px;
        padding-top: 10px;
    }
    #du_jour .button{
        width: 220px;
    }

    #button_connexion{
       padding: 0 10px 0 10px;
        margin: 0;
    }

 footer form {
        margin: 20px;
    }

 footer label{
     font-family: 'Indie Flower', cursive;
     font-weight: bold;
     color:black;
     display: block;
 }

   .input {
        width: 50%; !important;
       margin: 0;

    }
   .button {
      width: 100px ; !important;
       margin: 20px;
       font-size: 90%;
       padding: 0;
    }

   footer{
       text-align: left;
   }


#equipe .content_block img {
   height: 300px;
    width: inherit;
}

#equipe article p{
    font-size: 90%;
    line-height: 20px;
}
}
/*************DESKTOP**************/
@media screen and (min-width: 1024px){
    #principal {
        width: 1000px;
        margin: 0 auto;
    }

    #update {

    }

    #du_jour, #news{
    display: inline-block;
        vertical-align: middle;
}

#du_jour {
    width: 40%;
}

#news{
    width: 55%;
}

.du_jour .button{
    font-size: 90%;
    width: 150px;
    padding: 2px;
}



}