

/*font-family: 'Dosis', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Indie Flower', cursive;*/


/*************** BASIC *******************************/
article, aside, details, figcaption, figure, footer, header,
main, nav, section { display: block; }

*{
    box-sizing: border-box;
}

aside, div, section, header, footer, nav {
    display: block;
}


body, p {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: 'Indie Flower', cursive;
}

a{    color: crimson;
    /*cursor: default;*/
}

body{
    background-image: url("../images/bricks2.png");
    background-position: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content_block {
    background-color:rgba(255,255,255,0.7);
    border: 2px solid grey;
    margin: 10px;
    padding: 10px;
}



/************************** BUTTONS et INPUTS ***********************/

input , textarea {
    display: block;
    margin: 0 auto;
    background-color:rgba(255,255,255,0.7);
    text-decoration: underline;
    -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; border-radius: 5px;
}

.input {
    font-family: 'Raleway', sans-serif;
    width: 90%;
    border-radius: 5px;
    padding: 10px;
}

.button {
    font-family: 'Indie Flower', cursive;
    color: crimson;
    font-size: 20px;
    font-weight: bold;
}


/************ HEADER & MENU NAVIGATION *******************/
#train_light {
    display: none;
}

nav img {
    width: 10%;
    padding: 3px 5px 0 ;
}

nav h1{
    font-family: 'Indie Flower', cursive;
}

nav li:first-of-type {
    padding: 0;
}

nav li:first-of-type a:hover {
    text-shadow: none;
}

nav li{
    text-align: center;
    padding: 3px 0 3px 0;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

nav li a{
    display: block;
    text-decoration: none;
}

nav li a:hover {
    /* background-color: rgba(206, 255, 5, 0.4);*/
    color: crimson;
 /*   text-shadow: 1px 1px 1px black;*/
    text-shadow:
            -2px -2px 0 #cfff04,
            2px -2px 0 #cfff04,
            -2px 2px 0 #cfff04,
            2px 2px 0 #cfff04;
}
nav h1{
    font-size: 110%;
    margin: 0;
    display: inline;
    color: black;
}

#button_connexion, #button_profil {
    font-weight: bold;
    box-shadow: none;
    border-radius: 10px;

}

/************************INDEX*********************************/


/************************* TABLES ******************************/
.table {
    border: 1px solid black;
    border-collapse: collapse;
  /*  margin: 20px;*/
    font-size: 90%;
    width: 100%;
    margin: 0 auto;
}

.table td, .table th{
    border: 1px solid black;

}

.menu td, .menu th {
    display: block;
}

.table th {
    font-family: 'Indie Flower', cursive;
}

.menu td{
    text-transform: lowercase;
    padding: 10px;
}


.menu caption{
    color: red;
    font-family: 'Indie Flower', cursive;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

#headline_table_menu {
    font-size: 90%;
}

.menu tr:first-of-type th{
    display: none;
}

.menu:first-of-type {
    background-color: rgba(255, 255, 0, 0.2);
}
.menu:nth-last-of-type(2) {
    background-color: rgba(54, 180, 255, 0.2);
}

.menu:last-of-type {
    background-color: rgba(0, 252, 60, 0.2);
}

#table_users td{
    font-size: 80%;
}

/**************** INDEX:   MENU & ACTIVITÉ section****************************/
.du_jour h3{
    color: crimson;
}

.du_jour {
    padding: 10px;
}

.button{
    display: block;
    text-align: center;
     background-color: lightgrey;
    margin: 0 auto;
    border: 2px solid lightgrey;
    box-sizing: border-box;
    border-radius: 5px;
}

.button:hover{
    background-color: #cfff04;

}

.du_jour .button:active{
    background-color: lightgrey;
}

#repas li{
    text-transform: lowercase;
    text-align: center;
    padding-bottom: 3px;
}

#repas li:nth-of-type(odd){
    font-weight: bold;
    font-size: 75%;
}

#repas li:nth-of-type(even){
    padding-bottom: 20px;
    font-style: italic;
}

#news p:first-of-type{
    display: inline;
    font-style: italic;
    padding-left: 10px;
}

#news h3{
    display: inline;
    padding-left: 20px;
}

#news p:last-of-type{
    padding: 10px;
}

#phylosophy {
    padding: 20px;
}

#phylosophy h3{
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
    text-align: center;
}

#phylosophy span {
    font-size: 120%;
    color: darkblue;
    display: block;
}

#phylosophy p{
    font-family: 'Indie Flower', cursive;
    font-size: 120%;
    font-weight: bold;
    color: crimson;
}



/*********************** ADMIN ******************/

#admin_content_block {
    padding: 20px;
}

#admin_content_block form .button{
    display: block;
    margin: 0 auto;
    font-size: 150%;
}

#admin_content_block form label{
    font-family: 'Indie Flower', cursive;
    color: crimson;
    font-weight: bold;
}

#title_add {
    border-radius: 0;
    display: inline;
    margin: 0;
    width: 500px;
}

#pdf_upload {
    margin: 50px 0 50px 0;
}

/********* DÉBUT PAGE ÉQUIPE *********/
#equipe .content_block img{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid black;
    /* ombre portée*/
    -moz-box-shadow: 4px 4px 4px #888888;
    -webkit-box-shadow: 4px 4px 4px #888888;
    box-shadow: 4px 4px 4px #888888;
}

#equipe article{
    margin-top: 5%;
}

#equipe .content_block {
    padding: 10px;
}

#equipe h2{
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: crimson;
}

#equipe h3 {
    text-align: center;
}

#equipe article p{
    line-height: 28px;
}
#equipe section.content_block article:first-of-type{
    margin-bottom: 30px;
}

/********* FIN PAGE ÉQUIPE *********/


/********************************** PAGE DOCUMENTS & CONTACT*********************/

#documents{
    font-size: 70%;
}

#documents a{
    display: block;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

#documents section{
    margin-bottom: 20px;
}

#contact li{
    color: red;
    font-size: 90%;
    font-family: 'Indie Flower', cursive;
}

#tel_list li.strong {
    padding-top: 10px;

}

#tel_list strong{
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}

#tel_list li span {
    display: block;
}

#tel_list li{
    text-align: center;
    font-weight: bold;
}

#conseil_administration li{
    display: inline-block;
    width: 50%;
    font-family: 'Raleway', sans-serif;
}

#conseil_administration li:nth-of-type(even){
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

#contact h3:last-of-type {
    margin-top: 40px;
}

/******************* TABLEAU MENU************************/

/******************** FOOTER *********************/
footer {
    margin-top: 20px;
    text-align: center;
    color: crimson;
}


footer p {
    padding-top: 20px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

footer label{
    display: inline-block;
    color: black;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}


.hidden {
    display: none;
}

.galerie{
    text-align: center;
}



.preview img {
    width: 100%;
}
/********************** MEDIA QUERIES *********************/

@media screen and (min-width: 1240px){
  #train_light{
      display: inline;
      position: absolute;
      width: 13%;
      right: 1%;
     top: 170%;
  }
}


/*************TABLETTE**************/
@media screen and (min-width: 768px){

    .content_block {
        padding: 20px;
    }

    nav {
        margin: 0 auto;
        text-align: center;
    }

   nav ul{

   }

    nav li {
        display: inline-block;
        text-align: center;
        height: 90px;
        vertical-align: middle;
        width: 119px;
        font-size: 100%;
        background-image: url("../images/rail1.png");
        background-position: 100%;
    }

    nav li:first-of-type {
        padding: 0;
        width: 150px;
        border: none;

        vertical-align: top;


    }

    nav li a{
        font-weight: bold;
        display: block;
        height: 100%;
        padding-top: 30px;
        font-size: 140%;
    }

    nav li:first-of-type a{
        padding: 0;
    }

    nav h1{
        display: block;
        font-size: 90%;

    }

    nav img {
        width: 100px;
        padding-top: 10px;
    }


    #button_connexion{
        border: none;
        font-size: 90%;
        margin: 0;
        position: absolute;
        top: 20px;
        left: 20px;
        height: 80px;
        width: 80px;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
    }

    #button_profil  {
        border: none;
        font-size: 90%;
        margin: 0;
        position: absolute;
        top: 50px;
        left: 20px;
        height: 80px;
        width: 80px;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;

    }


    footer label{
        font-family: 'Indie Flower', cursive;
        font-weight: bold;
        color:black;
        display: block;
    }

    .input {
        width: 50%; !important;
        margin: 0;
    }



    .button {
        margin: 20px;
        font-size: 90%;
        padding: 0;
    }

    footer{
        text-align: left;
    }


    #equipe .content_block img {
        height: 200px;
        width: inherit;
        margin: 0;
    }

    #equipe article p{
        font-size: 90%;
        line-height: 20px;
    }

    #equipe article.content_block{
        margin: 0;
        margin-bottom: 20px;
    }

    #equipe article.content_block aside{
        display: inline-block;
        width: 65%;
        vertical-align: top;
    }

    #equipe article.content_block img {
        margin: 20px;
    }

    #equipe article.content_block h2 {
        margin: 0;
        text-align: left;
    }

    #equipe article p:first-of-type {
        margin-top: 0;
    }


    #equipe section.content_block article{
        text-align: center;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    #equipe section.content_block article p{
        text-align: left;
    }

    #equipe section.content_block article img {
        width: auto;
        height: 200px;
    }

    #equipe section.content_block h2 {
        margin: 0;
    }

    #equipe section.content_block article:first-of-type {
        margin: 0;
    }

    #documents{

    }
    #documents a{
        margin: 0;
        font-size: 150%;
    }


    #documents section a:last-of-type {
        padding-bottom: 20px;
    }


    #tel_list li{
        text-align: left;
        display: inline-block;
        vertical-align: top;
    }

    #tel_list ul {
        width: 70%;
    }

    #tel_list li {
        width:65%
    }

    #tel_list li span {
        display: inline;
        padding-left: 15px;
    }

    #tel_list li.strong {
width:29%;
        padding-top: 0;
        margin-bottom: 10px;
    }

    #contact h3:first-of-type {
        margin-bottom: 20px;
    }

       #conseil_administration li:nth-of-type(odd){
           width: 20%;
    }

    #conseil_administration li:nth-of-type(even) {
        width: 65%;
        padding-top: 10px;
    }

    #admin_content_block {
        margin-top: 40px;
    }

    header {
        margin-bottom: 50px;
    }

    .menu td, .menu th {
        display: table-cell;
        }
    .menu tr:first-of-type th{
        display: table-cell;
    }
    #headline_table_menu {
        font-size: 130%;
    }

    .preview {
        display: inline-block;
        width: 33%;
        padding: 20px;
        box-sizing: border-box;
        vertical-align: middle;
    }

    .galerie {
        padding: 0;
    }

}
/*************DESKTOP***********/
@media screen and (min-width: 1024px){
    #principal {
        width: 1000px;
        margin: 0 auto;
    }

    nav li{
        width: 150px;
    }

    #du_jour, #news{
        display: inline-block;
        vertical-align: middle;
    }

    #du_jour {
        width: 40%;
    }

    #news{
        width: 55%;
    }

    .du_jour .button{
        font-size: 90%;
    }

}
/***** PAGE ALERT *****/
.alert{
    background-color:deeppink;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius: 10px;
    height: 50px;
    vertical-align: top;
    line-height: 50px;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 7%;
    }
.alert p{
    font-weight: bold;
}